/* Los estilos se aplican a todo el documento */
body {
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(5, 158, 218, 0.9)), 
                      url('../assets/images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.about {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-style: solid;
    border-color: #fff;
    border-radius: 20px;
}

.social-icon {
    width: 48px;
}